:root {
  --primary-color: #ef400b;
  --primary-hover-color: #ce380a;
}
head {
  box-sizing: border-box;
}
header {
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 70px;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #000;
  color: white;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 50px;
  line-height: 50px;
  width: 100%;
  height: 50px;
  z-index: 1000;
}
nav div {
  position: fixed;
  display: flex;
  z-index: 0;
  width: 100%;
  height: 48px;
  top: 0;
  backdrop-filter: blur(5px);
  background-color: #00000050;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  position:relative;
}
nav ul li a {
  display: flex;
  padding: 0 20px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: var(--primary-color);
}
/* dropdown */
nav ul li ul {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  min-width: auto;
  flex-direction: column;
  padding: 0;
  z-index: 1000;
  text-align: center;
}
nav ul li ul li a {
  padding: 10px 20px;
  line-height: normal;
  transition: color 0.3s ease;
}
nav ul li ul li a:hover {
  color: var(--primary-color);
}
/* dropdown hover */
nav ul li:hover > ul {
  display: flex;
  background-color: #00000025;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  border: 0.5px solid #ffffff55;
}
.X-Net {
  color: var(--primary-color);
}
.hero {
  position: relative;  
  top: 0;    
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, #ef400b99, #ef400b00); /* contoh bg */
  color: white;     
}
.hero p {
  max-width: 700px;
}
.hero p span {
  transition: all 0.3s ease;
  padding: 0 0 0 .1em;
}
.hero p span:hover {
  color: #ffffff;
  background: linear-gradient(to bottom, #ef400b, #00000000);
}
.tombol {
  display: flex;
  width: fit-content;
  padding: 16px;
  background-color: #ef400b;
  border-radius:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #ce380a 0 4px;
  transition: all 0.3s ease;
}
.tombol a {
  text-decoration: none;
  color: white;
}
.tombol:hover {
  background-color: #ee5c2f;
  transform: scale(0.995); 
  transform: translateY(4px);
  box-shadow: 0 0 0 0 #ce380a;
}
.isian-card {
  display: flex;
  justify-content: center;
  margin: 1em;
  flex-direction: column;
  align-items: center;
}
.card {
  background-color: #ffffff10;
  width: 12em;
  height: 14em;
  margin: 1.5em;
  border-radius: 1.5em;
}
.background-card {
  background-color: #222222;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  border-radius: 32px;
}
.bg-background-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2em 2em 2em;
  max-width: 1200px;
}
.case-tombol-produk {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.produk {
  display: flex;
  width: fit-content;
  padding: 16px;
  background-color: #ef400b;
  border-radius:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #ce380a 0 4px;
  transition: all 0.3s ease;
}
.produk a {
  text-decoration: none;
  color: white;
}
.produk:hover {
  background-color: #ee5c2f;
  transform: scale(0.995); 
  transform: translateY(4px);
  box-shadow: 0 0 0 0 #ce380a;
}
