:root {
  --primary-color: #ef400b;
  --primary-hover-color: #ce380a;
}
head {
  box-sizing: border-box;
}
header {
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 70px;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #000;
  color: white;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 50px;
  line-height: 50px;
  width: 100%;
  height: 50px;
  z-index: 1000;
  animation: enter-nav 0.8s backwards;
  animation-delay: 0.5s;
}
nav div {
  position: fixed;
  display: flex;
  z-index: 0;
  width: 100%;
  height: 48px;
  top: 0;
  backdrop-filter: blur(5px);
  background-color: #00000025;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  position:relative;
}
nav ul li a {
  display: flex;
  padding: 0 20px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: var(--primary-color);
}
/* dropdown */
nav ul li ul {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  min-width: auto;
  flex-direction: column;
  padding: 0;
  z-index: 1000;
  text-align: center;
}
nav ul li ul li a {
  padding: 10px 20px;
  line-height: normal;
  transition: color 0.3s ease;
}
nav ul li ul li a:hover {
  color: var(--primary-color);
}
/* dropdown hover */
nav ul li:hover > ul {

  display: flex;
  background-color: #00000025;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  border: 0.5px solid #ffffff55;
}
.X-Net {
  color: var(--primary-color);
}
.hero {
  position: relative;  
  top: 0;    
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;     
  background: linear-gradient(to bottom, #ef400b99, #ef400b00);
}
.hero p:nth-child(1) {
  max-width: 700px;
  animation: enter 0.5s backwards cubic-bezier(.32,.31,.49,1.18);
  animation-delay: 1s;
}
.hero p:nth-child(2) {
  max-width: 700px;
  animation: enter 0.5s backwards cubic-bezier(.32,.31,.49,1.18);
  animation-delay: 1.1s;
}
.hero p span {
  transition: all 0.3s ease;
  padding: 0 0 0 .1em;
}
.hero p span:hover {
  color: #ffffff;
  background: linear-gradient(to bottom, #ef400b, #00000000);
}
.tombol {
  display: flex;
  width: fit-content;
  padding: 16px;
  background-color: #ef400b;
  border-radius:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #ce380a 0 4px;
  transition: all 0.3s ease;
  animation: enter 0.5s backwards cubic-bezier(.32,.31,.49,1.18);
  animation-delay: 1.2s;
}
.tombol a {
  text-decoration: none;
  color: white;
}
.tombol:hover {
  background-color: #ee5c2f;
  transform: scale(0.995); 
  transform: translateY(4px);
  box-shadow: 0 0 0 0 #ce380a;
}
.section-card {
  background: #ffffff20;
  margin: 1em;
  padding: 0.5em;
  text-align: center;
  max-height: fit-content;
  border-radius: 1rem;
}
.isian-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  flex-direction: column;
}
.card {
  background-color: #ffffff10;
  width: 12em;
  height: 14em;
  margin: 1.5em;
  border-radius: 1.5em;
  border: var(--primary-color) solid 0.75px;
}
.background-card {
  background-color: #ffffff10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 32px;
}
.bg-background-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2em 2em 2em;
}
.case-tombol-produk {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.produk {
  display: flex;
  width: fit-content;
  padding: 16px;
  background-color: #ef400b;
  border-radius:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #ce380a 0 4px;
  transition: all 0.3s ease;
}
.produk a {
  text-decoration: none;
  color: white;
}
.produk:hover {
  background-color: #ee5c2f;
  transform: scale(0.995); 
  transform: translateY(4px);
  box-shadow: 0 0 0 0 #ce380a;
}
.section-plan {
  background: #ffffff20;
  margin: 1em;
  padding: 0.5em;
  text-align: left;
  max-height: fit-content;
  border-radius: 1rem;
}
.isian-card-plan {
  display: flex;
  justify-content: center;
  margin: 1.5em;
  flex-direction: column;
}
.card-plan {
  background-color: #ffffff10;
  width: 18em;
  height: 26em;
  margin: 1.5em;
  border-radius: 1.5em;
  border: var(--primary-color) solid 0.75px;
}
.card-plan:nth-child(2){
  scale: 1.05;
}
.background-card-plan {
  background-color: #ffffff10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 32px;
}
.bg-background-card-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2em 2em 2em;
}
.btn {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  cursor: pointer;
  backdrop-filter: blur(12px);
  box-shadow: 0 4px #ce380a;
  transition: all 0.3s ease;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  /* transform: scale(0.995);  */
  transform: translateY(4px);
  box-shadow: 0 0 0 0 #ce380a;
}
.btn:active {
  transform: scale(0.95);
}
.best-choice {
  position: absolute;
  top: -1;
  right: -1;
  font-size: 0.85rem;
  /* transform: translate(-8px, 8px); */
  background: var(--primary-color);
  padding: 8px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

@keyframes enter {
  from{
    transform: translateY(100%);
    opacity: 0;
    filter: blur(4px);
  }
  to{
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes enter-nav {
  from{
    transform: translateY(-100%);
    opacity: 0;
    filter: blur(4px);
  }
  to{
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}
